.btn {
  width: 55px;
  height: 30px;
  margin: 3px;
  font-size: 12px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  &:hover,
  &:active {
    border-bottom: 1px solid black;
  }
}
.mid {
  width: 100px;
  height: 50px;
  font-size: 16px;
}

.sml {
  width: 75px;
  height: 40px;
  font-size: 14px;
}

@media (orientation: landscape) and (min-width: 915px) {
  .btn {
    width: 100px;
    height: 50px;
    font-size: 16px;
  }
  .mid {
    width: 150px;
    height: 75px;
  }
}
