.wrap {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  &__image {
    width: auto;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
}
