.no_admin {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
