.foot {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  &__link {
    color: black;
    text-decoration: none;
    cursor: default;
    &__btn {
      width: fit-content;
      height: 30px;
      margin: 3px;
      font-size: 16px;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      border-bottom: 1px solid transparent;
      transition: all 0.3s ease-in-out;
      &:hover,
      &:active {
        border-bottom: 1px solid black;
      }
    }
  }
}
