@media (orientation: landscape) and (min-width: 915px) {
  .wrap {
    width: 100%;
    max-width: 1250px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
